* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin-right: 100px;
}
.header {
    position: relative;
   align-items: center;
    width: 70%;
    height: 95%;
    padding-top: 10px; 
    cursor: pointer;
    font-weight: 500;
}
.corpo {
width: 0vh;
height: 0vh;
padding-bottom: 00px;

}
.back {
    background: linear-gradient(to bottom, rgb(201, 101, 101), rgb(185, 54, 54),rgb(235, 32, 32));
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 95%);
    padding: 0px;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
}
.papa {
    padding-top: 20%;
    font-weight: 900;
}
.p {
    font-size: 20px;
    font-weight: 200;
} 
.bot1 {
    color: rgb(235, 32, 32);
    background-color: antiquewhite;
    border: none;
    width: 50vh;
    height: 30px;
    font-weight: 600;
    border-radius: 3px;
}
.bot1:hover {
    background-color: rgb(224, 214, 199);
    color: rgb(133, 13, 13);
    transition: 0.10s;
}
li:hover {
    color: rgb(203, 221, 236);
}

.logout-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    z-index: 100;
}

.d-none {
    display: none;
    color: gold;
}
.bu {
    color: rgb(170, 46, 46);
    border: none;
    background-color: rgba(201, 153, 153, 0.582);
    padding: 5px;
    font-weight: 700;
    border-radius: 5px;
}
.texts {
    padding-left: 25px;
}
.h5 {
    color: rgb(153, 66, 66);
}
.dfdf {
    background-color: aqua;
}